<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog Post Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script> 
  </head>

  <body>
    <form method="post">
      Blog title: <input name="title" value="{{ post_name }}" />
      <br><br>
      <label for="desc">Description:</label>
      <br>
      <textarea id="desc" name="desc" onInput="this.parentNode.dataset.replicatedValue = this.value">{{ post_desc }}</textarea>

      <br><br>

      <label for="font-color">Font Color:</label>
      <input type="color" id="font-color" name="font-color" value="{{ font_color }}">

      <label for="font">Font:</label>
      <select id="font" name="font">
        {% if font_fonty_font_font == "system-ui" %}
          <option value="system-ui" selected>system-ui</option>
        {% else %}
          <option value="system-ui">system-ui</option>
        {% endif %}

        {% if font_fonty_font_font == "Arial" %}
          <option value="Arial" selected>Arial</option>
        {% else %}
          <option value="Arial">Arial</option>
        {% endif %}

        {% if font_fonty_font_font == "Verdana" %}
          <option value="Verdana" selected>Verdana</option>
        {% else %}
          <option value="Verdana">Verdana</option>
        {% endif %}

        {% if font_fonty_font_font == "Courier" %}
          <option value="Courier" selected>Courier</option>
        {% else %}
          <option value="Courier">Courier</option>
        {% endif %}
      </select>

      <br><br>

      <textarea id="content" name="content">{{ post_content }}</textarea>
      <br><br>
      <input name="btn" type="submit" value="Save" />
      <button><a href="/" style="text-decoration: none;color: black;">Back to menu</a></button>
      <input name="btn" type="submit" value="Switch to advanced mode" />
    </form>
  </body>

  <style>
    .editor-preview,
      .editor-preview-side {
        color: {{ font_color }};
        font-family: {{ font_fonty_font_font }}, system-ui;
        font-size: {{ font_size }}, ;
        
      }
  </style>
<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("content") });
</script>


</html>
