<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog Post Manager</title>
  <body>


  
    <h1>Blog Post Manager</h1>
    <h2>Blog Posts</h2>
    {% for pst_id, pst_name in post_ids_n_names.items() %}
      <form method="post">
        <a href="{{url_for('posts', postid=pst_id)}}">{{pst_name}}</a>
        <input type="hidden" name="pst_id" value="{{pst_id}}" />
        <input type="submit" name="btn" value="Delete post" />
      </form>
    {% endfor %}
    <form method="post">
      <label for="title">Post title</label>
      <input type="text" name="title" value="{{ request.form['title']}}" />
      <input type="submit" name="btn" value="Create new blog post" />
    </form>
  </body>
<html>
